.site-footer {
    padding: $side-padding $side-padding $side-padding $side-padding;
    color: $baby-powder;

    background-color: $header-bg-color;
    border-top-style: $border-shade-style;
    border-top-color: $fire-engine-red;
    border-top-width: $border-shade-width;

    a {
        &:visited, &:hover {
            text-decoration: none;
        }
    }
}