@import 'config/fonts';
@import 'config/colors';
@import 'config/dimensions';


.site-title {
    color: #ffffff;

    &:visited {
        color: #ffffff;
    }


        font-family: 'Grenze Gotisch', serif;
        font-family: 'Nunito Sans', sans-serif;
        text-transform: uppercase;
        padding-left: $side-padding;


}

.site-nav {
    padding-right: $side-padding;
    color: #ffffff;
}

.site-header {
    background-color: $header-bg-color;
    border-bottom-style: $border-shade-style;
    border-bottom-color: $fire-engine-red;
    border-bottom-width: $border-shade-width;
}

.page-link {
    color: #ffffff;
}