
$dutch-white: #D8CFAF;
$desert-sand: #E6B89C;
$light-coral: #ED9390;
$hot-pink: #F374AE;
$brunswick-green: #32533D;


$indian-red: #F2545B;
$amaranth-purple: #A93F55;
$gunmetal: #19323C;
$rose-taupe: #8C5E58;


$baby-powder: #f8f7f1;
//indian-red
$fire-engine-red: #D11019; // Shade of indian red
$raisin-black: #272727;
$bondi-blue: #208AAE;
$air-force-blue: #50808E;




$body-bg-color: $baby-powder;
$header-bg-color: $indian-red;
$font-color: $raisin-black;

