@import 'config/fonts',
'config/colors',
'config/dimensions',
'partials/header',
'partials/footer';

.post-content {
    color: $raisin-black;
    margin-bottom: 0px;
}

.post-body {
    padding: $side-padding 0px;
    background-color: $bondi-blue;

    border-top-style: $border-shade-style;
    border-top-color: $air-force-blue;
    border-top-width: $border-shade-width;

    border-bottom-style: $border-shade-style;
    border-bottom-color: $air-force-blue;
    border-bottom-width: $border-shade-width;

    p {
        color: $baby-powder;
        padding: 0px $side-padding;
    }
}

.plot-holder {
    margin: $side-padding 0px;
    background-color: $baby-powder;
    color: $raisin-black;
}


.data-wrapper {
    max-width: calc($data-width - $spacing-unit);
    margin-right: auto;
    margin-left: auto;
    padding-right: calc($spacing-unit * .5);
    padding-left: calc($spacing-unit * .5);
    // @extend %clearfix;

    @media screen and (min-width: $on-large) {
        max-width: calc($content-width - $spacing-unit * 2);
        padding-right: $spacing-unit;
        padding-left: $spacing-unit;
    }
}


.graph-wide {
    width: calc(100% - 2*$graph-margin);
    padding-right: $graph-margin;
    padding-left: $graph-margin;
    padding-top: calc($graph-margin / 2);
    padding-bottom: calc($graph-margin / 2);

    figure {
        margin-left: auto;
        margin-right: auto;
        display: block;

    }
}


.plot-holder {
    background-color: $baby-powder;
    left: 0px;
    right: 0px;

    figure {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }

    border-top-style: $border-shade-style;
    border-top-color: $air-force-blue;
    border-top-width: $border-shade-width;
    border-bottom-style: $border-shade-style;
    border-bottom-color: $air-force-blue;
    border-bottom-width: $border-shade-width;
}



.graph-wide {
    width: calc(100% - 2*$graph-margin);
    padding-right: $graph-margin;
    padding-left: $graph-margin;
    padding-top: calc($graph-margin / 2);
    padding-bottom: calc($graph-margin / 2);

    border-color: #cccccc;
    border-style: dashed;
    border-width: 1px 0px 1px 0px;

    figure {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }
}

// /**
//  * Clearfix
//  */
//  %clearfix:after {
//     content: "";
//     display: table;
//     clear: both;
// }