@import 'config/fonts';
@import 'config/colors';
@import 'config/dimensions';
@import 'partials/header';
@import 'partials/footer';

body {
    background-color: $body-bg-color;
    color: $font-color;
    font-family: 'Lato';
}


/**
 * Clearfix
 */
%clearfix:after {
    content: "";
    display: table;
    clear: both;
}


.data-wrapper {
    max-width: calc($data-width - $spacing-unit);
    margin-right: auto;
    margin-left: auto;
    padding-right: calc($spacing-unit * .5);
    padding-left: calc($spacing-unit * .5);
    @extend %clearfix;

    @media screen and (min-width: $on-large) {
        max-width: calc($content-width - $spacing-unit * 2);
        padding-right: $spacing-unit;
        padding-left: $spacing-unit;
    }
}

.page-content {
    padding-top: 30px;
    padding-bottom: 0px;
}