
$data-width: 800px !default;
$spacing-unit: 30px !default;

$on-palm: 600px !default;
$on-laptop: 800px !default;
$on-medium: $on-palm !default;
$on-large: $on-laptop !default;

$content-width: 1024px;
$graph-margin: 100px;

$side-padding: 2rem;

$border-shade-width: 2px;
$border-shade-style: solid;


.side-padding-left {
    padding-left: $side-padding;
}

.side-padding-right {
    padding-right: $side-padding;
}